<div class="container">
<form action="/codigo" method="post">
 
    <img src="logo.png" alt="">
    <h1>Sistema de Sala e Reuni찾o</h1>
    
    <div class="sala">
    <p>Informe o c처digo da sala: <input type="text" name="sala_id" placeholder="c처digo da sala"></p>  
    </div>
    
    <div class="codigo">
    <p>Digite o c처digo de acesso: <input type="text" name="codigo" placeholder="codigo de acesso"></p>
    </div>

    <div class="botao">
    <input type="submit" value="Cadastrar">
    </div>

</div>
</form>