<div class="container">
<form action="/sala" method="post">
 
    <img src="logo.png" alt="">
    <h1>Sistema de Sala e Reunião</h1>
    
    <div class="sala">
    <p>Informe a sala: <input type="text" name="nome" placeholder="nome da sala"></p>  
    </div>
    
    <div class="apelido">
    <p>Digite o apelido: <input type="text" name="apelido" placeholder="apelido da sala"></p>
    </div>

    <div class="botao">
    <input type="submit" value="Cadastrar">
    </div>

</div>
</form>